extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form.form--forget-password
        .form__group
          label.form__label Enter the email address associated with your account and we'll send you a link to reset your password.
        .form__group.ma-bt-md
          label.form__label(for='email') Email address
          input.form__input#email(type='email', placeholder='you@example.com', required, name='email')
        .form__group
          button.btn.btn--green Continue