extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--reset-password
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input.form__input#password(type='password', placeholder='••••••••', required, minlength='8', name='password')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Password Confirm
          input.form__input#passwordConfirm(type='password', placeholder='••••••••', required, minlength='8', name='passwordConfirm')
        .form__group
          button.btn.btn--green Reset